In [2]:
import pandas as pd

df = pd.read_csv('./dataset/student.csv')

subset_data = df.iloc[0:2, 1:2]
subset_data

       name
0  John Deo
1  Max Ruin

In [6]:
# df.head(10)
df.tail(10)

    id         name  class  mark  gender
25  26       Crelea  Seven    79    male
26  27          NaN  Three    81     NaN
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      35 non-null     int64
 1   name    34 non-null     object
 2   class   34 non-null     object
 3   mark    35 non-null     int64
 4   gender  33 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.5+ KB

In [8]:
df.columns

Index(['id', 'name', 'class', 'mark', 'gender'], dtype='object')

In [10]:
df.shape

(35, 5)

In [23]:
df = df.rename(columns={'mark': 'score'})
print(df)

# df = df.drop(columns=['gender'])
# print(df)

    id         name  class  score
0    1     John Deo   Four     75
1    2     Max Ruin  Three     85
2    3       Arnold  Three     55
3    4   Krish Star   Four     60
4    5    John Mike   Four     60
5    6    Alex John   Four     55
6    7  My John Rob  Fifth     78
7    8       Asruid   Five     85
8    9      Tes Qry    Six     78
9   10     Big John   Four     55
10  11       Ronald    Six     89
11  12        Recky    Six     94
12  13          Kty  Seven     88
13  14         Bigy  Seven     88
14  15     Tade Row    NaN     88
15  16        Gimmy   Four     88
16  17        Tumyu    Six     54
17  18        Honny   Five     75
18  19        Tinny   Nine     18
19  20       Jackly   Nine     65
20  21   Babby John   Four     69
21  22       Reggid  Seven     55
22  23        Herod  Eight     79
23  24    Tiddy Now  Seven     78
24  25     Giff Tow  Seven     88
25  26       Crelea  Seven     79
26  27          NaN  Three     81
27  28    Rojj Base  Seven     86
28  29  Tess Played  Seven     55
29  30    Reppy Red    Six     79
30  31  Marry Toeey   Four     88
31  32    Binn Rott  Seven     90
32  33    Kenn Rein    Six     96
33  34     Gain Toe  Seven     69
34  35   Rows Noump    Six     88

In [ ]:
# First 5 rows or specified amount of rows from the top
# dataframe.head()
# dataframe.head(10)

# Last 5 rows or specified amount of rows from the bottom
# dataframe.tail()
# dataframe.tail(10)

# Check the dimensions of our dataframe
# dataframe.shape

# Check for missing values - group by column
# dataframe.isnull().sum()

# Check for missing values - total
# dataframe.isnull().sum().sum()